/* Color Scheme:
   - Black: #000000
   - Purple: #9d4edd
   - Forest Green: #228b22
   - Neon Pink: #ff10f0
*/

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

main {
  flex: 1;
}
